@model IEnumerable<websitebenhvien.Models.Enitity.Slidepage>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    @if (Model != null && Model.Any())
    {
        var sortedSlides = Model.Where(s => s.status==true).OrderBy(s => s.sort).ToList();
         for (int i = 0; i < sortedSlides.Count; i++)
        {
            var slide = sortedSlides[i];
            <div class="carousel-item @(i == 0 ? "active" : "")">
            <a href="@slide.link" class="text-decoration-none">
                <img src="/Resources/@slide.slide" class="d-block w-100" alt="@slide.title" >
            </a>
            </div>
        }
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>