/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  #capcuu
  {
     font-size: 12px !important  ;
     font-weight: bold !important;
     
  }

}

/* Small devices (phones in landscape, ≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  #capcuu
  {
     font-size: 14px !important  ;
     font-weight: bold !important;
  }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
      #capcuu
  {
     font-size: 16px !important  ;
        font-weight: bold !important;
  }
  
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
  .nav-item:hover .dropdown-menu {

  display: block !important;


}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}
#mainCaroushadowsel
{
  border-radius: 10px !important;
}
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Styles for extra large devices */
  .nav-item:hover .dropdown-menu {
  display: block !important;

}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}
#mainCaroushadowsel
{
border-radius: 10px !important;
}
}

/* Extra extra large devices (very large screens, ≥1400px) */
@media (min-width: 1400px) {
  /* Styles for extra extra large devices */
  .nav-item:hover .dropdown-menu {

  display: block !important;
  

}
 .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px !important;
 }
 #mainCaroushadowsel
 {
  border-radius: 10px !important;
 }
}
